.back{
    background-image: url("../../../assets/img/fondo-de-libros.jpg");
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;

}
.fondo{
    font-family: Poppins_No_Bold;
    height: 89vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.726);
}

.formulario{
    margin-top: 8%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 5%; 
    background-color: black; 
    width: 50%;
    border-radius: 10px;
    border: 2px solid white;
}

.form_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    cursor: pointer;
}

