<div class="back">
    <div class="fondo">
        <div class="formulario" >
            <h3 style="color: white; padding: 15px;">Nuevo Libro</h3>
            <form action="" style="display: flex; flex-direction: column; color: white;">
                <div class="form_item">
                    <label for="">Título: </label>
                    <input type="text"  placeholder="Título del Libro" #title>
                </div>
                <div class="form_item">
                    <label for="">Tipo de Libro: </label>
                    <select type="text"  placeholder="Tipo de Libro" #type>
                        <option value="Tapa Blanda">Tapa Blanda</option>
                        <option value="Tapa Dura">Tapa Dura</option>
                    </select>
                </div>
                <div class="form_item" >
                    <label for="">Autor: </label>
                    <input type="text"  placeholder="Autor" #author >
                </div>
                <div class="form_item">
                    <label for="">Precio: </label>
                    <input type="number"  placeholder="Precio" #price>
                </div>
                <div class="form_item">
                    <label for="">URL: </label>
                    <input type="text"  placeholder="Imagen del Libro" #photo>
                </div>

            </form>
            <button style="width: 400px;" (click)="crearLibro( title.value, type.value, author.value, price.value, photo.value)">Guardar Libro</button>
        </div>
    </div>
</div>
