<div class="back" [ngClass]="{'no_libros':  this.booksService.books.length==0}">
    <div class="fondo" [ngClass]="{'no_libros':  this.booksService.books.length==0}">
        <input [(ngModel)]="searchItem" *ngIf="this.booksService.books.length>0" type="text" placeholder="Buscar Libro" (input)="buscar(id_busca)" style="margin-top: 5%;" #id_busca>
        <div class="fond" [ngClass]="{'no_libros':  this.booksService.books.length==0}">
            <div *ngIf="this.books.length==0" style="margin-top: -5%; height: 89vh; display: flex; align-items: center;">
                <h1 style="color: white; text-align: center;">
                    No hay Ningún libro en la librería 
                    <h1 *ngIf="!this.booksService.getOne(searchItem) && this.books.length==0">
                        con el id {{searchItem}}
                    </h1>
                </h1>
            </div>
            
            <div class="cards book" *ngFor="let book of this.books; let i=index" >
                
                <app-card [book] = "book" [i] = "i" (eventoBook) = "deleteBook($event)"></app-card>
                
            </div>
            
        </div>
    </div>
</div>
