/* You can add global styles to this file, and also import other style files */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", "Arial", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Montserrat", "Arial", sans-serif;
}

p, li, td, th, label, button {
  font-size: clamp(1rem, 0.7vw + 0.8rem, 1.4rem);
}

small, .small {
  font-size: clamp(0.9rem, 0.6vw + 0.7rem, 1.2rem);
}

a {
  display: inline-block;
  font-size: clamp(1rem, 0.7vw + 0.8rem, 1.4rem);
  text-decoration: none;
  color: #ea4f79;
  position: relative;
}
a::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #ea4f79;
  width: 100%;
  bottom: 2px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.05s ease;
}
a:hover::after {
  transition: transform 0.5s ease;
  transform: scaleY(1);
}

h1, .h1 {
  font-size: clamp(2.3rem, 1.6vw + 1.9rem, 3.2rem);
}

h2, .h2 {
  font-size: clamp(2rem, 1.4vw + 1.7rem, 2.8rem);
}

h3, .h3 {
  font-size: clamp(1.7rem, 1.2vw + 1.5rem, 2.4rem);
}

h4, .h4 {
  font-size: clamp(1.5rem, 1vw + 1.3rem, 2.1rem);
}

h5, .h5 {
  font-size: clamp(1.3rem, 0.9vw + 1.1rem, 1.8rem);
}

h6, .h6 {
  font-size: clamp(1.1rem, 0.8vw + 1rem, 1.6rem);
}

button {
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  border-radius: 0;
  border: 2px solid #232323;
  background-color: #ea4f79;
  color: white;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease;
}

button:hover {
  transition: background-color 0.5s ease;
  background-color: #ef7d9c;
}

::placeholder, input[type=date] {
  color: #b9b9b9;
}

input, progress {
  accent-color: #ea4f79;
}

input, select {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0;
  border: 2px solid #232323;
  outline: none;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

select {
  padding: 0.6rem 0.8rem;
}

input:focus-visible {
  box-shadow: 0px 4px 0 0 rgba(0, 0, 0, 0.2);
}

input[type=checkbox], input[type=radio] {
  width: 1.2rem;
  height: 1.2rem;
  box-shadow: none;
  position: relative;
  top: 3px;
}

input[type=range] {
  box-shadow: none;
  border: none;
  margin-block: 0;
  padding-block: 0;
  position: relative;
  top: 3px;
}

input[type=color] {
  padding: 0 0.2rem;
}

table {
  border-collapse: collapse;
  border: 4px solid #232323;
  text-align: center;
  margin: 2rem 0;
}

th, td {
  border: 2px solid #232323;
}

th, td {
  padding: 0.5rem;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 2rem auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: grid;
  place-content: center;
}

.bg-magenta {
  background-color: #ea4f79;
}

.bg-blue {
  background-color: #42acdc;
}

.bg-yellow {
  background-color: #fcc049;
}

.bg-orange {
  background-color: #ea5730;
}

.bg-mint {
  background-color: #b7dbc4;
}

.bg-dark-mint {
  background-color: #83c6a3;
}

.bg-purple {
  background-color: #e5b3ff;
}

.bg-dark-gray {
  background-color: #303030;
}

.bg-dark {
  background-color: #232323;
}

.bg-black {
  background-color: #1d1d1d;
}

.text-magenta {
  background-color: #ea4f79;
}

.text-blue {
  background-color: #42acdc;
}

.text-yellow {
  background-color: #fcc049;
}

.text-orange {
  background-color: #ea5730;
}

.text-mint {
  background-color: #b7dbc4;
}

.text-dark-mint {
  background-color: #83c6a3;
}

.text-purple {
  background-color: #e5b3ff;
}

.text-dark-gray {
  background-color: #303030;
}

.text-dark {
  background-color: #232323;
}

.text-black {
  background-color: #1d1d1d;
}

.text-center {
  text-align: center;
}

.shadow {
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.2);
}

.border-0 {
  border: 0px solid #232323;
}

.border-1 {
  border: 1px solid #232323;
}

.border-2 {
  border: 2px solid #232323;
}

.border-3 {
  border: 3px solid #232323;
}

.border-4 {
  border: 4px solid #232323;
}

.border-light {
  border-color: #fafafa;
}

.border-dark {
  border-color: #232323;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin: 0.25rem;
}

.mt-2 {
  margin: 0.5rem;
}

.mt-3 {
  margin: 0.75rem;
}

.mt-4 {
  margin: 1rem;
}

.mt-5 {
  margin: 1.5rem;
}

.mb-1 {
  margin: 0.25rem;
}

.mb-2 {
  margin: 0.5rem;
}

.mb-3 {
  margin: 0.75rem;
}

.mb-4 {
  margin: 1rem;
}

.mb-5 {
  margin: 1.5rem;
}

.underline {
  text-decoration: underline;
}

.not-underline {
  text-decoration: none;
}

.padre {
  border: 3px solid #232323;
  padding: 1rem;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}

.hijo {
  border: 3px solid #fafafa;
  padding: 1rem;
  width: 100px;
}