
<div class="fter">
    <footer class="footer bg-gray">
        <div class="foot_items">
            <a href="" style="margin-top: 15px;" class="item">
                <img src="../../../assets/img/iconos/insta.png" alt="" style="height: 35px;">
            </a>
            <a href="" class="item">
                <img src="../../../assets/img/iconos/facebook_logo_icon_181322.png" alt="">
            </a>
            <a href="" style="margin-top: 15px;" class="item">
                <img src="../../../assets/img/iconos/twitter_x_new_logo_x_rounded_icon_256078.png" alt="">
            </a>
            
        </div>
    </footer>
</div>
