


<div>
    <header class="bg-black" >
        <div class="header-items">
            <div *ngIf="this.userService.logueado == false" class="header-items">
                <a href="" routerLink="/home"  routerLinkActive="active" >HOME</a>
                <a href="" routerLink="/register" routerLinkActive="active">REGISTER</a>
                <a href="" routerLink="/login"  routerLinkActive="active"> LOGIN</a>
            </div>
            <div *ngIf="this.userService.logueado == true" class="header-items">
                <a href="" routerLink="/profile" routerLinkActive="active">PROFILE</a>
                <a href="" routerLink="/books" routerLinkActive="active" >BOOKS</a>
                <a href="" routerLink="/addbooks" routerLinkActive="active" >AddBooks</a>
                <a href="" routerLink="/updatebooks"  routerLinkActive="active"> UpdateBooks</a>
            </div>
        </div>
    </header>
</div>
